<p>Your refund for purchase <strong>{{ purchase_number }}</strong> is now in process.</p>
<p><strong>Purchase details</strong><br/>{{ purchase_lines }}<br/><strong>Total:</strong> {{ total_thb }}</p>
